#banner {
  float: left;
  display: inline-block;
  width: calc(100% - 20px);
  max-height: 40px;
  padding: 2px 10px 1px;
  
  color: #ffffff;
  background: #025468;
  filter: drop-shadow(0.5px 2px 2px rgb(63, 66, 71));
}

#banner .logo {
  display: inline-block;
  float: left;
  width: 72px;
  height: 39px;

  overflow: hidden;
}

#banner .logo img {
  position: relative;
  top: -13px;
  padding: 2px;
  max-height: 61px;
}

#banner .title {
  display: inline-block;
  float: left;
  width: calc(100% - 282px);
  padding: 11px 0px;

  font-family: 'Roboto';
  font-weight: 400;
  line-height: 18px;
  font-size: 18px;
}

#banner .button {
  background: none;
  border: none;
  display: inline-block;
  float: left;
  width: 36px;
  padding: 2px 0px;
}

#banner .button img {
  cursor: pointer;
}

#banner img:hover {
  background: #759ea9;
}

#banner .crumb {
  display: inline-block;
  float: left;
  width: 154px;
  padding: 14px 8px;

  font-family: 'Roboto Condensed';
  line-height: 16px;
  font-size: 16px;
}

@media all and (max-width: 550px) {
  #banner .title {
    visibility: hidden;
  }
}
