#panel .modal {
  position: fixed;
  top: 41px;
  left: 0px;
  height: calc(100% - 41px);
  width: 100%;

  background: #525252;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s opacity;
}

#panel .list {
  position: fixed;
  top: 41px;
  right: 0px;
  height: calc(100% - 51px);
  width: 0px;
  padding: 10px 5px;
  font-family: 'Roboto Condensed';
  background: #759ea9;
  transition: 1s width, 1s padding;
}

#panel .list .item {
  display: inline-block;
  float: left;
  width: calc(100% - 36px);
  padding: 0px 0px 0px 36px;
}

#panel .list .item .story {
  line-height: 17px;
  font-size: 14px;
  margin: 3px 0px;
  padding: 2px 4px;
  cursor: pointer;
}

#panel .list .item.active .story {
  color: #025468;
}

#panel .list .item.inactive .story {
  color: #ffffff;
}

#panel .list .item.inactive:hover {
  background: #025468;
}
